<h1>Edit <%= @file.name -%></h1>

<div id="editor-div" style="height: 500px; width: 500px"><%= @body -%></div>
<% #TODO: Syntax highlight and Editor %>
<script>
	window.onload = function() {
		var editor = ace.edit("editor-div");
	};
</script>
